<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projectclassroom"
    tools:ignore="ExtraText">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ManifestOrder" />
    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="StudyRoom"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectClassroom"
        tools:ignore="AllowBackup">
        <activity android:name="appsettings.AppSettings"
            android:screenOrientation="portrait"/>
        <activity android:name=".ForgotPassword"
            android:screenOrientation="portrait"/>
        <activity android:name="sharefiles.DocumentViewer"
            android:screenOrientation="portrait"/>
        <activity android:name="attendence.Sheet"
            android:screenOrientation="portrait"/>
        <activity android:name="attendence.Attendance_Sheet"
            android:screenOrientation="portrait"/>
        <activity android:name="attendence.AttendenceInterface"
            android:screenOrientation="portrait"/>
        <activity android:name="editclass.EditClass" />
        <activity android:name=".Sharewithclass"
            android:screenOrientation="portrait"/>
        <activity android:name=".InsideClassDetails"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Splash_Screen"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JoinClass"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateaccountActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CreateClass" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>